/* google��ʲôprevent default���� */
* {
    touch-action: none;
}


/* �ֻ��ϵ��ͼƬ���и����� */
body{
    -webkit-tap-highlight-color:transparent;
}



/* 
	�ļ��ϴ�input ������ 
	<a href="javascript:void(0);" class="xx">
		<span class="btn_dark">����ͼƬ</span>
		<input type="file" value="����ͼƬ">
	</a>
*/
a.xx  {
    position: relative;
    width: 100px;
    height: 25px;
    display: block;
}
a.xx>span {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    line-height: 25px;
}
a.xx>[type="file"] {
    opacity: 0;
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


/*
	����ý���ѯ����max-widthҪ�ӿ�խ��max-width,��ʾ0-376px
*/
@media screen and (max-width:376px) {
    
}
@media screen and (max-width:321px) {
    
}


/*swiper��fadeЧ��*/
.swiper-container-fade .swiper-slide{
    z-index:-1;
    opacity: 0!important;
}
.swiper-container-fade .swiper-slide.swiper-slide-active{
    z-index:10;
    opacity: 1!important;
}


 /*滚动条样式*/
::-webkit-scrollbar {
    width: 15px!important;
    height: 15px!important;
    -webkit-appearance: none
}
::-webkit-scrollbar-thumb {
    height: 5px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: none;
    -webkit-border-radius: 8px;
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box
}

/*改变placeholder*/
input::-webkit-input-placeholder{
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #BBBBBB;
    letter-spacing: 0.74px;
    font-weight: normal;
}
input:-moz-placeholder{
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #BBBBBB;
    letter-spacing: 0.74px;
    font-weight: normal;
}
input::-moz-placeholder{
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #BBBBBB;
    letter-spacing: 0.74px;
    font-weight: normal;
}


/*IE ������ (ֱ��д��html��)
<!--[if IE 6]>
	<style>#export_p_stories_list .custom_btn{display:inline;}</style>
<![endif]-->
*/


/* �ı�����������ʡ�Ժű�ʾ*/
.txt_{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}